@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-800 font-sans;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*{
  font-family: 'Poppins';
}

/* Estilizar a barra de rolagem */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #003C60; /* Cor do polegar da barra de rolagem */
}

::-webkit-scrollbar-track {
  background-color: #E2E2E2; /* Cor de fundo da barra de rolagem */
}

html {
  scroll-behavior: smooth;
}
